@model IEnumerable<LanchesMac.Models.Lanche>

<div>
    <h2>Todos os Lanches</h2>
</div>

@foreach (var lanche in Model)
{
    <div>
        <h4>@lanche.Nome</h4>        
        @{
            var fileName = lanche.ImagemUrl.Substring(lanche.ImagemUrl.LastIndexOf('/') + 1);
        }
        <p><img src="~/images/@fileName" width="600px" height="600px" /></p>
        <h3>Preço: @lanche.Preco.ToString("c")</h3>
    </div>
}
